.MuiPickersPopper-paper.css-a9rw36{
  background-color: #3e85f3;
  width: 235px;
  height: 300px;
  border-radius: 8px;
}


.MuiPickersLayout-contentWrapper.css-lz05jy{
  flex-direction: row;
}

.MuiPickersCalendarHeader-label.css-1v994a0{
  color: #fff;
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  letter-spacing: -0.32px;
}

.MuiDateCalendar-root.css-1080di7 {
  width: 235px;
}
.MuiDayCalendar-monthContainer.css-i6bazn {
  :nth-child(last-child()) {
    margin-bottom: 0;
  }
}

.MuiDayCalendar-weekContainer.css-mvmu1r{
  gap: 5px;
  margin-bottom: 12px;
}

.MuiDayCalendar-header.css-1n2mv2k {
  gap: 5px;
  margin-bottom: 12px;
}

.MuiDayCalendar-header.css-1n2mv2k::after {
  width: 235px;
  height: 1px;
  color: #ffffff33;
}

.MuiPickersDay-root.MuiPickersDay-dayWithMargin.MuiPickersDay-hiddenDaySpacingFiller.MuiPickersDay-hiddenDaySpacingFiller.css-1ftumlg,
.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.css-1hrukl9{
  width: 24px;
  height: 24px;
  margin: 0;
}

.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.MuiPickersDay-today.css-4ggly9 {
  width: 24px;
  height: 24px;
}

.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.MuiPickersDay-today.css-4ggly9 {
  text-align: center;
  color: #fff;
  border-color: #fff;
}

.MuiButtonBase-root.MuiPickersDay-root.Mui-selected.MuiPickersDay-dayWithMargin.MuiPickersDay-today.css-4ggly9,
.MuiButtonBase-root.MuiPickersDay-root.Mui-selected.MuiPickersDay-dayWithMargin.css-1hrukl9 {
  background-color: #fff;
  color: #3e85f3;
}

.MuiTypography-caption.MuiDayCalendar-weekDayLabel.css-10qkmc3{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-family: Inter;
  font-weight: 500;
  letter-spacing: -0.28px;
  line-height: 0;
  margin: 0;

  width: 24px;
  height: 24px;
}
.MuiPickersDay-dayWithMargin.css-1hrukl9{
  color: #fff;
  font-size: 14px;
  font-family: Inter;
  line-height: 18px;
  letter-spacing: -0.28px;
  width: 24px;
  height: 24px;
}

.MuiPickersCalendarHeader-root.css-1dozdou{
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
}

.MuiPickersFadeTransitionGroup-root.css-1bx5ylf {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 15px;
  transform: translateX(-50%);
}

.MuiPickersCalendarHeader-switchViewButton.css-1wjkg3{
  display: none;
}

.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-edgeEnd.MuiIconButton-sizeMedium.MuiPickersArrowSwitcher-button.css-11wxb,
.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-edgeStart.MuiIconButton-sizeMedium.MuiPickersArrowSwitcher-button.css-1fklenr{
  width: 18px;
  height: 18px;
  position: absolute;
  top: 16px;
}

.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-edgeEnd.MuiIconButton-sizeMedium.MuiPickersArrowSwitcher-button.css-11wxb{
  left: 15px;
}

.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-edgeStart.MuiIconButton-sizeMedium.MuiPickersArrowSwitcher-button.css-1fklenr{
  right: 15px;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeInherit.css-1cw4hi4{
  fill: #fff;
}

